@page
@model dynamic
@{
    ViewData["Title"] = "Dashboard Sinh viên";
}
<h2>Dashboard Sinh viên</h2>
<ul>
    <li><a href="/Student/ThongTin/Index">Xem/sửa thông tin cá nhân</a></li>
    <li><a href="/Student/Diem/Index">Xem điểm</a></li>
    <li><a href="/Student/LichHoc/Index">Xem lịch học/môn học</a></li>
</ul> 