@page
@model dynamic
@{
    ViewData["Title"] = "Trang chủ";
}
<h2>Chào mừng bạn đến với hệ thống Quản Lý Sinh Viên!</h2>
<ul>
    <li><a href="/Account/Login">Đăng nhập</a></li>
    <li><a href="/Admin/Index">Trang quản trị viên</a></li>
    <li><a href="/Teacher/Index">Trang giảng viên</a></li>
    <li><a href="/Student/Index">Trang sinh viên</a></li>
</ul> 